Repository pseudo-su/cdk-monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0 --fix, sort-package-json

.lintstagedrc:

{
  "*.{yml,yaml}": ["prettier --write"],
  "*.{js,jsx}": ["eslint --max-warnings=0 --fix"],
  "*.{ts,tsx}": ["eslint --max-warnings=0 --fix"],
  "package.json": ["sort-package-json"]
}

chore: add workspace
  .editorconfig
  .vscode/extensions.json
  root.code-workspace
Due: none

feat: add cdk to next ssr package
  common/config/rush/pnpm-lock.yaml
  services/api-example/bin/api-example.ts
  services/api-example/jest.config.js
  services/api-example/lib/api-example-stack.ts
  services/api-example/package.json
  services/api-example/test/api-example.test.ts
  services/site-example-ssr/.gitignore
  services/site-example-ssr/cdk.json
  services/site-example-ssr/cdk/app.ts
  services/site-example-ssr/cdk/next-stack.ts
  services/site-example-ssr/cdk/stack.test.ts
  services/site-example-ssr/cdk/tsconfig.json
  services/site-example-ssr/package.json
Due: prettier --write, eslint --max-warnings=0 --fix, sort-package-json

chore: add localstack
  common/config/rush/command-line.json
  localstack.docker-compose.yaml
  services/site-example-ssr/package.json
Due: prettier --write, sort-package-json

chore: generate cfn diagram
  common/config/rush/pnpm-lock.yaml
  services/site-example-ssr/.gitignore
  services/site-example-ssr/docs/cdk-diagram.drawio
  services/site-example-ssr/package.json
Due: prettier --write, sort-package-json

chore: update scripts
  common/config/rush/pnpm-lock.yaml
  services/site-example-ssr/docs/cdk-diagram.drawio
  services/site-example-ssr/package.json
Due: prettier --write, sort-package-json

chore: add cdk-diagram image
  common/config/rush/pnpm-lock.yaml
  services/site-example-ssr/README.md
  services/site-example-ssr/docs/cdk-diagram.drawio
  services/site-example-ssr/docs/cdk-diagram.png
  services/site-example-ssr/package.json
Due: prettier --write, sort-package-json

chore: add initial API example
  common/config/rush/pnpm-lock.yaml
  services/api-example/.eslintrc.js
  services/api-example/.gitignore
  services/api-example/cdk.json
  services/api-example/cdk/api-stack.ts
  services/api-example/cdk/app.ts
  services/api-example/cdk/stack.test.ts
  services/api-example/cdk/tsconfig.json
  services/api-example/docs/cdk-diagram.drawio
  services/api-example/docs/cdk-diagram.png
  services/api-example/jest.config.js
  services/api-example/package.json
  services/api-example/src/handler.ts
  services/site-example-spa/package.json
  services/site-example-ssr/cdk/app.ts
  services/site-example-ssr/cdk/next-stack.ts
  services/site-example-ssr/docs/cdk-diagram.drawio
  services/site-example-ssr/docs/cdk-diagram.png
  services/site-example-ssr/package.json
Due: prettier --write, eslint --max-warnings=0 --fix, sort-package-json

chore: config
  common/config/rush/pnpm-lock.yaml
  services/api-example/cdk/stack.test.ts
  services/api-example/package.json
  services/api-example/tsconfig.json
  services/site-example-ssr/cdk/stack.test.ts
  services/site-example-ssr/jest.config.js
  services/site-example-ssr/package.json
Due: prettier --write, eslint --max-warnings=0 --fix, sort-package-json

chore: initial API deployment
  common/config/rush/pnpm-lock.yaml
  services/api-example/.gitignore
  services/api-example/cdk/api-stack.ts
  services/api-example/cdk/tsconfig.json
  services/api-example/esbuild.js
  services/api-example/package.json
  services/api-example/src/handler.ts
  services/api-example/tsconfig.json
  services/site-example-ssr/cdk/tsconfig.json
Due: prettier --write, eslint --max-warnings=0 --fix, sort-package-json

chore: eslint config
  build-tools/base-config-eslint/base-javascript.config.js
  build-tools/base-config-eslint/base-typescript.config.js
  services/api-example/.eslintignore
  services/site-example-spa/.eslintignore
  services/site-example-ssr/.eslintignore
Due: eslint --max-warnings=0 --fix

chore: add stack
  ARCHITECTURE.md
  common/config/rush/command-line.json
  services/api-example/docs/cdk-diagram.drawio
  services/api-example/docs/cdk-diagram.png
  services/api-example/package.json
  services/site-example-spa/.gitignore
  services/site-example-spa/cdk.json
  services/site-example-spa/cdk/app.ts
  services/site-example-spa/cdk/jest.config.js
  services/site-example-spa/cdk/stack.test.ts
  services/site-example-spa/cdk/static-site.ts
  services/site-example-spa/cdk/tsconfig.json
  services/site-example-spa/docs/cdk-diagram.drawio
  services/site-example-spa/docs/cdk-diagram.drawio.bak
  services/site-example-spa/docs/cdk-diagram.png
  services/site-example-spa/package.json
  services/site-example-ssr/docs/cdk-diagram.drawio
  services/site-example-ssr/docs/cdk-diagram.png
  services/site-example-ssr/package.json
Due: eslint --max-warnings=0 --fix, sort-package-json

chore: the trinity
  common/config/rush/pnpm-lock.yaml
  services/api-example/docs/cdk-diagram.png
  services/site-example-spa/README.md
  services/site-example-spa/cdk/static-site.ts
  services/site-example-spa/docs/cdk-diagram.drawio
  services/site-example-spa/docs/cdk-diagram.drawio.bak
  services/site-example-spa/docs/cdk-diagram.png
  services/site-example-spa/package.json
  services/site-example-ssr/docs/cdk-diagram.drawio
  services/site-example-ssr/docs/cdk-diagram.png
Due: prettier --write, eslint --max-warnings=0 --fix, sort-package-json

chore: rename build-tools to tools
  .prettierignore
  build-tools/base-config-eslint/.eslintrc.js
  build-tools/base-config-eslint/api-lambda.js
  libs/api-common/.eslintrc.js
  libs/api-common/package.json
  rush.json
  services/site-example-ssr/.eslintrc.js
  services/site-example-ssr/package.json
  tools/base-config-eslint/.eslintrc.js
  tools/base-config-eslint/api-lambda.js
  tools/base-config-eslint/base-javascript.config.js
  tools/base-config-eslint/base-typescript.config.js
  tools/base-config-eslint/index.js
  tools/base-config-eslint/package.json
  tools/base-config-eslint/site-react.js
Due: eslint --max-warnings=0 --fix, sort-package-json

docs: add packages overview
  README.md
Due: none
